extends ./layout/index

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")

block contenido 
  div(class="py-1")
    include ./templates/filtros
    div(id="mapa-inicio" class=" h-screen min-h-[450px] relative")
      // Contenido del mapa
  
    









