extends ./layout/app

block contenido 
  section(class="py-5 h-screen")
    h2(class="text-center text-4xl font-extrabold pt-10")= pagina

  div(class="py-1 h-screen w-screen")
    include ./templates/filtros
    h1(class="text-center text-2xl font-bold mt-4") Ubicación en el Mapa
    div(id="mapa-inicio" class="lg:h-[600px] relative")
      // Contenido del mapa
