extends ./layout/app

block contenido 
  section(class="py-5")
    div
      h1(class="text-black")= favoritos.id
      h1(class="text-black")= favoritos
      div
        img(src="", alt="")
      div
        form(action="")
          input(type="button", value="Eliminar") 
