extends ./layout/index

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
block contenido 
  div(class="py-1")

  
    include ./templates/filtros
    h1(class="text-center text-2xl font-bold mt-4") Ubicación en el Mapa
    div(id="mapa-inicio" class="h-[400px] lg:h-[600px] relative")
      // Contenido del mapa

    div(class="swiper-container grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14")
      h2(class="text-center text-3xl font-bold pt-5") Propiedades Verificadas 
      div(class="swiper-wrapper")
        each propiedad in casas 
          div(class="swiper-slide flex justify-center items-center")
            include ./templates/card
      div(class="swiper-pagination")

  script.
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 1,
      spaceBetween: 30,
      loop: true,
      autoplay: {
        delay: 5000,
      },
        pagination: {
          el: '.swiper-pagination',
          clickable: true,
      },
      // Otras opciones de configuración de SwiperJS
    });









