extends ./layout/index

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
  <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
block contenido 
  div(class="py-1")

    include ./templates/filtros
    h1(class="text-center text-2xl font-bold mt-4") Ubicación en el Mapa
    div(id="mapa-inicio" class="h-[400px] lg:h-[600px] relative")
      // Contenido del mapa

    









