extends ./layout/index

block styles
  link(rel="stylesheet" href="https://unpkg.com/leaflet@1.8.0/dist/leaflet.css")
block contenido 
  div(class="py-1")
    //- form(action="/buscador" method="POST" class="flex gap-3 items-center")
    //-   input(type="hidden" name="_csrf" value= csrfToken)
    //-   div
    //-     label(for="termino" class="text-sm uppercase font-bold text-gray-500") Búsqueda 
    //-     input(type="text" id="termino" name="termino" placeholder="Buscar Propiedades" class="p-2 rounded-lg shadow text-sm")
    //-   div
    //-     input(type="submit" class="bg-sky-600 rounded-lg text-white uppercase font-bold p-2 cursor-pointer text-sm")

    h2(class="text-sm uppercase text-gray-800 font-bold py-4") Filtrar Propiedades:
      
      div(class="w-full md:w-auto flex items-center gap-2 py-2")
        label(for="tipoTr" class="text-sm w-24 uppercase text-gray-500 font-bold") Tipo de transacción
        select(id="tipoTr" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow") 
          option(value="") - Seleccione -
          each tipoTr in tipos 
            option(value=tipoTr.id)= tipoTr.nombre
      
      div(class="w-full md:w-auto flex items-center gap-2 py-2")
        label(for="categorias" class="text-sm w-24 uppercase text-gray-500 font-bold") Categorias
        select(id="categorias" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow") 
          option(value="") - Seleccione -
          each categoria in categorias 
            option(value=categoria.id)= categoria.nombre

      div(class="w-full md:w-auto flex items-center gap-2 py-2")
        label(for="estados" class="text-sm w-24 uppercase text-gray-500 font-bold") Estados
        select(id="estados" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow") 
          option(value="") - Seleccione -
          each estado in estadosUnicos
            option(value=estado)= estado
      
      div(class="w-full md:w-auto flex items-center gap-2 py-2")
        label(for="estados" class="text-sm w-24 uppercase text-gray-500 font-bold") Municipios
        select(id="estados" class="flex-1 bg-white w-full px-3 py-2 border border-gray-300 rounded-md shadow") 
          option(value="") - Seleccione -
          each estado in estadosUnicos
            option(value=estado)= estado

    h1(class="text-center text-2xl font-bold mt-4") Ubicación en el Mapa
    div(class="flex felx-col md:flex-row items-center py-4 gap-4")
    

    div(id="mapa-inicio" class="h-[600px]")

    section(class="py-5")
      h2(class="text-center text-4xl font-extrabold pt-10") Casas en Venta 

      div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14")
        each propiedad in casas 
          include ./templates/card
    
    section(class="py-5")
      h2(class="text-center text-4xl font-extrabold pt-10") Departamentos en Venta 

      div(class="grid grid-cols-1 lg:grid-cols-3 gap-5 mt-14")
        each propiedad in departamentos 
          include ./templates/card

