/* @import '~swiper/swiper-bundle.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-container {
  position: relative;
  z-index: 1;
}
#mapa-inicio {
  position: relative;
  z-index: 0;
}
/* Estilos para el enlace del footer activo */
.active {
  /* Efecto de escala al hacer hover */
  transition-property: transform;
  transition-duration: 0.3s;

}


