div(class="w-screen m-0")
  div(id="header" class="h-12 flex justify-between items-center p-2 bg-dkblue-800 ")
    h2(class="text-sm uppercase text-white font-bold py-4") Filtrar Propiedades
    div(id="iconDown" class="")
      img(src="/img/chevron-down.svg" alt="down" class="rounded-lg")
    div(id="iconUp" class="hidden rounded-sm")
      img(src="/img/chevron-up.svg" alt="up" class="rounded-lg")
  div(class="hidden bg-dkblue-800 mt-1 p-4 rounded" id="selects")
    div(class="w-full md:w-auto flex items-center gap-2 py-1")
      label(for="tipoTr" class="text-sm w-24 uppercase text-white font-bold") Tipo de transacción
      select(id="tipoTr" class="flex-1 bg-white w-full px-3 py-1 border border-gray-300 rounded-md shadow") 
        option(value="") - Seleccione -
        each tipoTr in tipos 
          option(value=tipoTr.id)= tipoTr.nombre

    div(class="w-full md:w-auto flex items-center gap-2 py-1")
      label(for="categorias" class="text-sm w-24 uppercase text-white font-bold") Categorias
      select(id="categorias" class="flex-1 bg-white w-full px-3 py-1 border border-gray-300 rounded-md shadow") 
        option(value="") - Seleccione -
        each categoria in categorias 
          option(value=categoria.id)= categoria.nombre

    div(class="w-full md:w-auto flex items-center gap-2 py-1")
      label(for="estados" class="text-sm w-24 uppercase text-white font-bold") Estados
      select(id="estados" class="flex-1 bg-white w-full px-3 py-1 border border-gray-300 rounded-md shadow") 
        option(value="") - Seleccione -
        each estado in estados
          option(value=estado.id)= estado.nombre

    div(class="w-full md:w-auto flex items-center gap-2 py-1")
      label(for="municipios" class="text-sm w-24 uppercase text-white font-bold") Municipios
      select(id="municipios" class="flex-1 bg-white w-full px-3 py-1 border border-gray-300 rounded-md shadow" disabled) 


