extends ../layout/admin 

block contenido 
  div(class='py-10')
    h1(class='text-4xl font-extrabold text-center') Administracion
  div(class='')
    div(class='py-10')
      a(href="/adm/crear-categoria" class="rounded py-2 bg-indigo-600 hover:bg-indigo-700 text-sm px-10 font-bold text-center text-white uppercase my-5 inline-block w-full md:w-auto") Categorias
    div(class='py-10')
      a(href="/adm/crear-precio" class="rounded py-2 bg-indigo-600 hover:bg-indigo-700 text-sm px-10 font-bold text-center text-white uppercase my-5 inline-block w-full md:w-auto") Precios




