extends ../layout/admin 

block contenido 
  div(class='py-2 flex flex-col space-y-4 justify-center items-center shopping-cart')
    form(action="/adm/create_preference" method="POST" class="w-72 h-auto p-2  border border-dkblue-900 rounded-md") 
      input(type="hidden" name="_csrf" id="csrf" value= csrfToken)
      div(class="flex justify-center items-center")
        h3(class="font-semibold" id="product-description") Premium Mensual
        img(src="/img/star.svg" alt="")
      div(class="")
        h3(class="font-semibold") Beneficios
        p(class="") 10 Publicaciones 
        p(class="") 10 Favoritos 
      div(class="flex items-center")
        input(class="" id="quantity" value="1" min="1" type="number")
        p(class="") mes
        img(src="/img/coin.svg" alt="")
        p(class="" id="unit-price") 180 
        div(class="")
          span(id="cart-total")
      input(id="checkout-btn" class="rounded py-2 bg-dkblue-600 hover:bg-dkblue-700 text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full md:w-auto" type="submit" value="Suscribirse") 
    div(class="w-72 h-auto p-2  border border-dkblue-900 rounded-md")
      div(class="flex justify-center items-center")
        h3(class="font-semibold") Empresarial Mensual
        img(src="/img/buildings.svg" alt="")
      div(class="")
        h3(class="font-semibold") Beneficios
        p(class="") Publicaciones Ilimitadas
        p(class="") Favoritos Ilimitados
      div(class="flex items-center")
        img(src="/img/coin.svg" alt="")
        p(class="") 360
      a(href="#" id="checkout-btn" class="rounded py-2 bg-dkblue-600 hover:bg-dkblue-700  text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full md:w-auto") Suscribirse
    div(class="w-72 h-auto p-2  border border-dkblue-900 rounded-md")
      div(class="flex justify-center items-center")
        h3(class="font-semibold") Premium Anual
        img(src="/img/star.svg" alt="")
      div(class="")
        h3(class="font-semibold") Beneficios
        p(class="") 10 Publicaciones 
        p(class="") 10 Favoritos 
      div(class="flex items-center")
        img(src="/img/coin.svg" alt="")
        p(class="line-through") 2160
      div(class="flex items-center")
        img(src="/img/coin.svg" alt="")
        p(class="") 1800
      a(href="#" id="checkout-btn" class="rounded py-2 bg-dkblue-600 hover:bg-dkblue-700 text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full md:w-auto") Suscribirse
    div(class="w-72 h-auto p-2  border border-dkblue-900 rounded-md")
      div(class="flex justify-center items-center")
        h3(class="font-semibold") Empresarial Anual
        img(src="/img/buildings.svg" alt="")
      div(class="")
        h3(class="font-semibold") Beneficios
        p(class="") Publicaciones Ilimitadas
        p(class="") Favoritos Ilimitados
      div(class="flex items-center")
        img(src="/img/coin.svg" alt="")
        p(class="line-through") 4320
      div(class="flex items-center")
        img(src="/img/coin.svg" alt="")
        p(class="") 3600
      a(href="#" id="checkout-btn" class="rounded py-2 bg-dkblue-600 hover:bg-dkblue-700  text-sm px-10 font-bold text-center text-white uppercase my-1 inline-block w-full md:w-auto") Suscribirse
    div(class="h-9")
  div(class="container_payment hidden")
    div(class="")
      span(class="" id="summary-price")
      p(class="")
        span(id="summary-quantity")
    div(class="")
      span(id="summary-total")
    div(id="button-checkout")
  div(class="")
    a(id="go-back") Go back to Shopping Cart