header(class="p-4 container max-h-28 shadow-md bg-white sticky top-0 z-50 flex flex-col")
  div(class="flex justify-between")
    a(href="/")
      img(src='/img/logo_p360.png' alt='Logo' class="h-[50px]")
    a(href="adm/panel-adm")
      img(src="/img/settings.svg" alt="menuIcon" class="cursor-pointer")
  div(class="flex justify-between border-t-2")
    div(class="")
      a(href="/") 
        img(src="/img/home.svg" alt="home" class="cursor-pointer")
    div(class="") 
      a(href="adm/mi-perfil")
        img(src="/img/user.svg" alt="perfil" class="cursor-pointer")
    div(class="") 
      a(href="/contacto")
        img(src="/img/contact.svg" alt="contacto" class="cursor-pointer")
    div(class="")
      a(href="/favoritos")
        img(src="/img/heart.svg" alt="cuenta" class="cursor-pointer") 
    div(class="")
      a(href="")
        img(src="/img/chat.svg")

block scripts

