header(class="bg-sky-200 p-4 h-20 shadow-md")
  div(class="container mx-auto flex justify-between items-center")
    a(href="/")
      img(src='/img/logo_p360.png' alt='Logo')
    nav(class="my-5 text-sm md:flex md:items-center md:gap-3 font-bold text-white flex") 
      a(href="/auth/registro" class="hidden lg:block") Crear Cuenta
      a(href="/auth/login" class="hidden lg:block") Iniciar Sesión
      button(class="fixed bottom-4 right-4 text-white py-2 px-4 rounded-full lg:hidden")
        img(src="img/menu.svg", alt="menuIcon")

div(class="bg-sky-600 py-5 hidden lg:block")
  div(class="container mx-auto flex justify-between")
    nav(class="flex gap-4 items-center")
      a(href="/categorias/1" class="text-sm font-bold uppercase text-white") Casas
      a(href="/categorias/2" class="text-sm font-bold uppercase text-white") Departamentos
      a(href="/categorias/3" class="text-sm font-bold uppercase text-white") Bodegas
      a(href="/categorias/4" class="text-sm font-bold uppercase text-white") Terrenos
      a(href="/categorias/5" class="text-sm font-bold uppercase text-white") Cabañas


