header(class="p-4 container max-h-28 shadow-md bg-white sticky top-0 z-50 flex flex-col")
  div(class="flex justify-between")
    a(href="/")
      img(src='/img/logo_p360.png' alt='Logo' class="h-[50px]")
    a(href="adm/panel-adm")
      img(src="/img/settings.svg" alt="menuIcon" class="cursor-pointer")

block scripts

