header(class="px-1 container max-h-10 shadow-md bg-gray-300 sticky top-0 z-50 flex flex-col")
  div(class="flex justify-between items-center")
    a(href="/")
      img(src='/img/logo_p360.png' alt='Logo' class="h-[40px]")
    h2(class="text-sm font-semibold text-dkblue-900 " )= pagina

