header(class="p-4 max-h-20 shadow-md")
  div(class="container mx-auto flex justify-between items-center gap-5")
    a(href="/")
      img(src='/img/logo_p360.png' alt='Logo')
    a(class="btnMenu cursor-pointer" id="btnMenu")
      img(src="/img/menu.svg", alt="menuIcon")
    a(class="clearMenu cursor-pointer hidden" id="clearMenu") 
      img(src="/img/clear.svg", alt="clearIcon")

  include menu

block scripts

