header(class="bg-sky-200 p-4 max-h-20 shadow-md")
  div(class="container mx-auto flex justify-between items-center")
    a(href="/")
      img(src='/img/logo_p360.png' alt='Logo')
    nav(class=" text-sm md:flex md:items-center md:gap-3 font-bold text-white flex") 
      a(href="/auth/registro" class="hidden lg:block") Crear Cuenta
      a(href="/auth/login" class="hidden lg:block") Iniciar Sesión
      button(class="fixed bottom-4 right-4 text-white py-2 px-4 rounded-full lg:hidden")
        img(src="img/menu.svg", alt="menuIcon")




