header(class="px-1 container max-h-10 shadow-md bg-dkblue-300 sticky top-0 z-50 flex flex-col")
  div(class="flex justify-between")
    a(href="/")
      img(src='/img/logo_p360.png' alt='Logo' class="h-[40px]")
    a(href="adm/panel-adm")
      img(src="/img/settings.svg" alt="menuIcon" class="cursor-pointer")

block scripts

