footer(class="fixed z-10 bottom-0 left-0 w-full p-2 bg-gray-300 shadow-md sm:h-14 md:h-20 lg:h-24")
  div(class=" flex justify-between")
    div
      a(href="/" )
        img(src="/img/home.svg" id="home-link" alt="home" class="cursor-pointer transition-transform hover:scale-110 hover:bg-gray-400 hover:rounded")
    div
      a(href="/buscador" )
        img(src="/img/location.svg"  id="buscador-link" alt="search" class="cursor-pointer transition-transform hover:scale-110 hover:bg-gray-400 hover:rounded")
    div
      a(href="/propiedades/crear")
        img(src="/img/add.svg" id="ajustes-link" alt="add" class="cursor-pointer transition-transform hover:scale-110 hover:bg-gray-400 hover:rounded")
    div
      a(href="/favoritos" )
        img(src="/img/heart.svg" id="favoritos-link" alt="favs" class="cursor-pointer transition-transform hover:scale-110 hover:bg-gray-400 hover:rounded")
    div
      a(href="/mis-propiedades")
        img(src="/img/user.svg" id="verificadas-link" alt="user" class="cursor-pointer transition-transform hover:scale-110 hover:bg-gray-400 hover:rounded")
script.
  // Obtener el enlace del footer actual basado en la ruta de la página
  function getCurrentFooterLink() {
    const path = window.location.pathname;
    if (path === "/") return document.getElementById("home-link");
    if (path === "/buscador") return document.getElementById("buscador-link");
    if (path === "/favoritos") return document.getElementById("favoritos-link");
    if (path === "/verificadas") return document.getElementById("verificadas-link");
    if (path === "/ajustes") return document.getElementById("ajustes-link");
  }

  // Agregar la clase 'active' al enlace del footer actual
  function setActiveFooterLink() {
    const currentFooterLink = getCurrentFooterLink();
    if (currentFooterLink) {
      currentFooterLink.classList.add("active");
    }
  }

  setActiveFooterLink();