footer(class="fixed bottom-0 left-0 w-full p-2 bg-dkgray-100 shadow-md sm:h-14 md:h-20 lg:h-24")
  div(class=" flex justify-between")
    div
      a(href="/")
        img(src="/img/home.svg" alt="home" class="cursor-pointer")
    div
      a(href="/buscador")
        img(src="/img/location.svg" alt="search" class="cursor-pointer")
    div
      a(href="/favoritos")
        img(src="/img/heart.svg" alt="favs" class="cursor-pointer")
    div
      a(href="/verificadas")
        img(src="/img/verified.svg" alt="verified" class="cursor-pointer")
    div
      a(href="/ajustes")
        img(src="/img/settings.svg" alt="settings" class="cursor-pointer")