footer(class="w-screen p-2 container max-h-14 shadow-md bg-dkgray-100 sticky bottom-0 z-50 flex flex-col")
  div(class=" flex justify-between")
    div
      a(href="/")
        img(src="/img/home.svg" alt="home" class="cursor-pointer")
    div
      a(href="adm/mi-perfil")
        img(src="/img/location.svg" alt="search" class="cursor-pointer")
    div
      a(href="/favoritos")
        img(src="/img/heart.svg" alt="favs" class="cursor-pointer")
    div
      a(href="/verificadas")
        img(src="/img/verified.svg" alt="verified" class="cursor-pointer")
    div
      a(href="/contacto")
        img(src="/img/settings.svg" alt="contacto" class="cursor-pointer")