footer(class="w-screen p-2 container max-h-14 shadow-md bg-dkblue-300 sticky bottom-0 z-50 flex flex-col")
  div(class=" flex justify-between")
    div
      a(href="/")
        img(src="/img/home.svg" alt="home" class="cursor-pointer")
    div
      a(href="adm/mi-perfil")
        img(src="/img/user.svg" alt="perfil" class="cursor-pointer")
    div
      a(href="/contacto")
        img(src="/img/contact.svg" alt="contacto" class="cursor-pointer")
    div
      a(href="/favoritos")
        img(src="/img/heart.svg" alt="cuenta" class="cursor-pointer")
    div
      a(href="/verificadas")
        img(src="/img/verified.svg")